$theme-default: #070707;
$theme-mild: #9C9DA6;
$viewport-width: 678rpx;
$client-width: 750rpx;
$client-height: 100vh;

$color1: #000000;
$color2: #121314;
$color3: #707177;
$color4: #9C9DA6;
$color5: #D7D7DA;
$color6: #999999;
$color7: #273240;

// $theme1: #3BC196;
$theme1: #FF5A30;
$theme2: #FE7405;
$theme3: #FF6555;
$theme4: #FF5A31;
$theme5: #1448FF;

$fontsize: 30rpx;

$global-theme: #FFFFFF;

$fs32:32rpx;
$fs30:30rpx;
$fs26:26rpx;
$fs24:24rpx;
$fs22:22rpx;

$fc1:#c0c0c0;
$fc2:#999999;
$fc3:#333333;
$fc4:#707177;
$fc5:#FAFAFA;